<script language="JavaScript" type="text/javascript"> 

    var seconds =11; 
    // countdown timer. took 6 because page takes approx 1 sec to load 
    
    var url="{{url_for('root')}}"; 
    // variable for index.html url 
    
    function redirect(){ 
    if (seconds <=0){ 
    
    // redirect to new url after counter down. 
    window.location = url; 
    } else { 
    seconds--; 
    document.getElementById("pageInfo").innerHTML="Redirecting to Home Page after " 
    +seconds+" seconds." 
    setTimeout("redirect()", 1000) 
    } 
    } 
</script> 

<head> 
    <div class="container section-title" data-aos="fade-up">
        <h2>Error 404</h2>
        <p>Page Not Found</p>
    </div>
</head> 

{% extends "layout.html" %} 

{% block content_error %} 

<body onload="redirect()"> 

<h1>Oops! Looks like the page doesn't exist</h1> 
<br>
    <p>You will be automatically redirected to the <a href="{{ url_for('root') }}">Home page</a></p>
    <p id="pageInfo"></p> 

{% endblock %} 