{% extends "layout.html" %}

{% block content_portfolio_project %}


  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Portfolio Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Portfolio Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              
              <h1>Project n°{{ project_id }}</h1>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ url_for('static', filename='assets/img/portfolio/spatial.png') }}" alt="">
                </div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Project information
              </h3>
              <ul>
                <li><strong>Category</strong>: Spatial transcriptomics</li>
                <li><strong>Laboratory</strong>: CRCL</li>
                <li><strong>Project date</strong>: 03 February, 2025</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/jdutel42/">GitHub project</a></li>
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>Spatial OMICS in breast cancer</h2>
              <p>
                This project is in construction.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>
  {% endblock %}
