{% extends "layout.html" %}

{% block content_resume %}
<!-- Resume Section -->
<section id="resume" class="resume section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>Master's student in Bioinformatics with a strong passion for immunology, drug design, and multi-omics analyses. My academic background includes research experiences and advanced bioinformatics expertise.</p>
            <br>
            <a href="{{ url_for('download_cv') }}" class="btn btn-primary" role="button">Télécharger mon CV (PDF)</a>
    
  </div><!-- End Section Title -->

  <div class="container">

      <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Summary</h3>

              <div class="resume-item pb-0">
                  <h4>Jordan Dutel</h4>
                  <p><em>I'm a autonomous, proactive, and curious student with expertise in bioinformatics, multi-omics data analysis, and molecular biology. Motivated by innovation and scientific challenges.</em></p>
                  <ul>
                      <li>Lyon, France</li>
                      <li>+33 6 36 85 52 78</li>
                      <li>jordan.dutel.contact@gmail.com</li>
                      <li><a href="https://www.linkedin.com/in/jordan-dutel">LinkedIn</a></li>
                  </ul>
              </div><!-- End Resume Item -->

              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                  <h4>Master’s Degree in Bioinformatics</h4>
                  <h5>2023 - 2025</h5>
                  <p><em>Université Claude Bernard Lyon 1</em></p>
                  <p>Skills: Machine learning techniques, bayesian statistics, structural bioinformatics & drug design, multi-omics data analysis (genomics, metagenomics, transcriptomics, and proteomics), database management, web programming, advanced algorithmics.</p>
              </div>

              <div class="resume-item">
                  <h4>Master’s Degree in Molecular Biology & Immunology</h4>
                  <h5>2021 - 2023</h5>
                  <p><em>Université Claude Bernard Lyon 1</em></p>
                  <p>Skills: Immunology, immunopathology, cancer biology, genetic mapping, microscopy (electron, epifluorescence, confocal), RNA interference (Zebrafish embryo microinjection).</p>
              </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                  <h4>Data Science Research Intern</h4>
                  <h5>April - June 2024</h5>
                  <p><em>Centre Léon Bérard, Prevention & Public Health Team, Lyon</em></p>
                  <ul>
                      <li>Performed in-depth OMICS data analysis on a patient cohort to study mutational and immunological profiles.</li>
                      <li>Used advanced factorial analysis (MOFA) to characterize patient subgroups and optimize personalized therapeutic strategies.</li>
                  </ul>
              </div><!-- End Resume Item -->

              <div class="resume-item">
                  <h4>Research Intern in Immuno-Oncology</h4>
                  <h5>January - June 2023</h5>
                  <p><em>CRCL (Cancer Research Center of Lyon), GRINBERG Team, Lyon</em></p>
                  <ul>
                      <li>Studied NF-kB transcription factor subunits in CD4+ T lymphocytes and their implications in autoimmune diseases and cancer.</li>
                      <li>Performed gene knockout via CRISPR-Cas9, flow cytometry (BD LSR Fortessa), and protein detection using ELISA (TransAM Assay).</li>
                  </ul>
              </div>

              <div class="resume-item">
                  <h4>Virology Research Intern</h4>
                  <h5>January - March 2022</h5>
                  <p><em>CIRI (International Center for Infectiology Research), REVE Team, Lyon</em></p>
                  <ul>
                      <li>Developed a novel RNA vectorization system using the human pseudo-viral protein hPEG10.</li>
                      <li>Performed plasmid cloning, RT-PCR, qPCR primer design, enzymatic digestion, and plasmid transfection.</li>
                  </ul>
              </div>
          </div>

      </div>

  </div>

</section><!-- /Resume Section -->

{% endblock %}