<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon CV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('education') }}">Education</a></li>
                <li><a href="{{ url_for('experience') }}">Experiences</a></li>
                <li><a href="{{ url_for('skills') }}">Competences</a></li>
                <li><a href="{{ url_for('projects') }}">Projets</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenue sur mon CV</h1>
        <p>Explorez les différentes sections pour en savoir plus sur moiiiiiii.</p>
    </main>
</body>
</html>
