<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordan Dutel Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Jordan DUTEL</h1>
        <p>Master 2 Bio-informatic student at Claude Bernard Lyon 1 University</p>
    </header>
    <section>
        <h2>Skills</h2>
        <ul>
            <li>Multi-omics analysis</li>
            <li>Spatial transcriptomic</li>
            <li>Nextflow and R Shiny</li>
        </ul>
    </section>
    <section>
        <h2>Experiences</h2>
        <p>Stage chez VIDIUM et projet en écotoxicologie</p>
    </section>
</body>
</html>
