<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Personal Resume</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/phoenix.ico') }}" type="image/x-icon">
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wraper">
		<div class="container">
		<div class="left-content p-30">
			<div class="logo">
				<a href="">
					<span>My</span>
					<span>Resume</span>
				</a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('education') }}">Education</a></li>
					<li><a href="{{ url_for('experience') }}">Experiences</a></li>
					<li><a href="{{ url_for('skills') }}">Skills</a></li>
					<li><a href="{{ url_for('projects') }}">Portfolio</a></li>
					<li><a href="{{ url_for('contact') }}">Contact</a></li>
				</ul>
			</div>
			<div class="left-footer">
				<div class="social-icons">
					<ul>
						<li><a href="https://www.linkedin.com/in/jordan-dutel/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="https://www.facebook.com/jordan.dutel.1/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://x.com/_PyroXene_"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/jo.dtl/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="foot-contact">
					<ul>
						<li>jordan.dutel@etu.univ-lyon1.fr</li>
						<li>+33 6 36 85 52 78</li>
					</ul>
				</div>
				
<div class="copy-rights">Copyright &copy;2019 All rights reserved</div>
<a class="copy-rights" href="https://www.flaticon.com" title="Flaticon">Flaticon</a>

			</div>

		</div>
		<div class="main-content">
			<div class="section1 p-30" id="Home">
			<div class="sec-title">
	<div class="pg-sub-title">Home</div>
	<div class="pg-title">My Profile</div>
			</div>
				<div class="d-flex-align-center">
				<div class="user-img flex-1"><img src="{{ url_for('static', filename='images/tonystark.jpg') }}" alt="User Image"></div>
				<div class="user-profile flex-1">
					<div class="pro-details">
						<div class="sm-text">HELLO EVERYBODY, I AM</div>
						<div class="name">Jordan Dutel</div>
						<div class="role">Bioinformatic M2 Student</div>

					</div>
					<div class="text">Génie, milliardaire, playboy, philanthrope. Vous avez d'autres questions ?</div>
					<div class="pr-list">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i> 28th June, 1998</li>
							<li><i class="fa fa-phone" aria-hidden="true"></i> +33 6 36 85 52 78</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i> jordan.dutel@etu.univ-lyon1.fr</li>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Lyon, France</li>
						</ul>
					</div>
			<div class="social-icons-head">
					<ul>
						<li><a href="https://www.linkedin.com/in/jordan-dutel/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="https://www.facebook.com/jordan.dutel.1/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://x.com/_PyroXene_"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/jo.dtl/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				</div>
			</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
